body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

body .spin {
  width: 15vw;
  height: 15vw;
  stroke: #1BC458;
  animation: progress 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
  transition: .3s;
  display: block;

  animation: rotate 1.4s linear infinite;
}

.spin circle {
  animation: progress 1.4s ease-in-out infinite;
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0px;
}

@keyframes rotate {

  to {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}